<div
  class="relative min-h-screen flex items-center justify-center bg-[#0c1f27]"
>
  <!-- Animated background circles -->
  <div class="absolute z-0 top-0 left-0 w-full h-full overflow-hidden">
    <div
      class="absolute w-72 h-72 bg-[#fa4438] opacity-20 blur-[150px] rounded-full left-[-120px] top-[80px] animate-pulse"
    ></div>
    <div
      class="absolute w-72 h-72 bg-[#dcff1e] opacity-10 blur-[150px] rounded-full right-[-120px] bottom-[80px] animate-ping"
    ></div>
  </div>
  <div class="z-10">
    <div class="max-w-xl mx-auto mt-10 text-white">
      <app-step1-initial-account
        *ngIf="step === 1"
        (next)="next()"
      ></app-step1-initial-account>
      <app-step2-profile-info
        *ngIf="step === 2"
        (prev)="prev()"
        (next)="next()"
      ></app-step2-profile-info>
      <app-step3-personal-details
        *ngIf="step === 3"
        (prev)="prev()"
        (next)="next()"
      ></app-step3-personal-details>
      <app-step4-customize-profile *ngIf="step === 4" (prev)="prev()" (complete)="reset()"></app-step4-customize-profile>
      <app-step5-welcome-screen *ngIf="step === 5"></app-step5-welcome-screen>
    </div>
  </div>
</div>
