<!-- message-list.component.html -->
<div class="message-list">
  <div class="chat-header">
    <div class="chat-avatar">
      <img class="rounded-full"
        [src]="conversation?.isGroup ? conversation?.groupImageUrl : conversation?.receiverProfile?.profilePictureUrl"
        alt="Avatar">
    </div>
    <div class="chat-info">
      <h3>{{ conversation?.isGroup ? conversation?.groupName : conversation?.receiverProfile?.displayName }}</h3>
      <div class="chat-status">● Online</div>
    </div>
  </div>

  <div #messagesContainer id="messages-container" class="messages">
    <div *ngFor="let message of messages" class="message" 
      [class.sent]="message.senderId === currentUserId"
      [class.received]="message.senderId !== currentUserId">
      <div class="message-avatar ">
        <img class="rounded-full" [src]="message.senderProfile.profilePictureUrl" alt="Avatar">
      </div>
      <div class="message-content">
        <div class="message-sender">{{ message.senderProfile.displayName }}</div>
        <div class="message-text">{{ message.content }}</div>
      </div>
    </div>
  </div>
</div>
