@tailwind base;
@tailwind components;
@tailwind utilities;

/* Set background color for html and body */
html, body {
  @apply bg-midnight m-0 p-0 w-full h-full;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
