<p>test-chat-api works!</p>
<div>
    <button (click)="sendMessageTest()">Send Message</button>
    <button (click)="editMessageTest()">Edit Message</button>
    <button (click)="deleteMessageTest()">Delete Message</button>
    <button (click)="createConversationTest()">Create Conversation</button>
    <button (click)="editConversationTest()">Edit Conversation</button>
    <button (click)="deleteConversationTest()">Delete Conversation</button>
    <button (click)="markReadTest()">Mark as Read</button>
    <button (click)="sendTestRequests()">Get Messages</button>

</div>

<hr>

<div *ngIf="result">
    <h3>Result</h3>
    <pre>{{ result | json }}</pre>
</div>

<div *ngIf="error">
    <h3 style="color: red;">Error</h3>
    <p>{{ error }}</p>
</div>